@import '../../../styles/variables';

.hero_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 100%;
    h1,
    p {
        display: flex;
        align-items: center;
        text-align: center;
        margin: 0;
    }
    
    h1 {
        width: fit-content;
        height: 96px;
        color: $neutral_900;
    }
    
    p {
        max-width: 800px;
        height: 64px;
        color: $neutral_700;
    }
}

