@import '../../styles/variables';

.about_us {
    padding-top: 128px;
    padding-bottom: 128px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    box-sizing: border-box;
    width: 100%;

    @media (max-width: 1280px) {
        grid-template-columns: 1fr;
        row-gap: 112px;
    }

    @media (max-width: 1024px) {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    @media (max-width: 760px) {
        padding-top: 48px;
        padding-bottom: 48px;
        gap: 40px;
    }

    .about_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;

        h2 {
            width: fit-content;
            text-align: left;
            margin: 0;
            color: $neutral_900;

            @media (max-width: 760px) {
                font-size: 36px;
                line-height: 48px;
            }
        }

        p {
            color: $neutral_700;
            text-align: left;

            @media (max-width: 760px) {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    .img_content {
        position: relative;
        gap: 16px;
        padding: 0px 8px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media (max-width: 1280px) {
            gap: 19px;
            padding: 0px 9px;
        }

        @media (max-width: 760px) {
            gap: 9px;
            padding: 0px 5px;
        }



        .img_badge {
            position: absolute;
            top: -56px;
            left: 42.5%;
        }

        .img_about {
            max-width: 280px;

            @media (max-width: 1280px) {
                max-width: 100%;
            }
        }

        .img_to_top {
            margin-bottom: 80px;

            @media (max-width: 440px) {
                margin-bottom: 0;
            }
        }

        .img_to_bottom {
            align-self: flex-end;
        }
    }
}