@use "sass:map";

$font-weights: (
	"light": 300,
	"regular": 400,
	"medium": 500,
	"semibold": 600,
	"bold": 700
);
$body-font-size: (
	"xl": 20px,
	"lg": 18px,
	"md": 16px,
	"sm": 14px,
	"xs": 12px
);
$display-font-size: (
	"2xl": 72px,
	"xl": 60px,
	"lg": 48px,
	"md": 36px,
	"sm": 30px,
	"xs": 24px
);
$display-line-height: (
	"2xl": 96px,
	"xl": 72px,
	"lg": 60px,
	"md": 48px,
	"sm": 40px,
	"xs": 32px
);
$body-line-height: (
	"2xl": 32px,
	"xl": 32px,
	"lg": 32px,
	"md": 24px,
	"sm": 24px,
	"xs": 16px
);

$display-font-family: 'Playfair Display';
$body-font-family: 'Outfit';

@mixin generate-font-classes($font-family, $font-sizes, $line-height, $prefix) {
	@each $font_size, $value in $font-sizes {
		@each $font_weight, $value_weight in $font-weights {
			.#{$prefix}_#{$font_size}_#{$font_weight} {
				font-family: $font-family;
				font-size: $value;
				font-weight: $value_weight;
				line-height: map-get($line-height, $font_size);
				font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;

				@if $prefix =='display' {
					@if $font_size =='2xl' {
						letter-spacing: -0.025em;
					}

					@if $font_size =='xl' {
						letter-spacing: -0.025em;
					}
				}
			}
		}
	}
}

@include generate-font-classes($display-font-family, $display-font-size, $display-line-height, "display");
@include generate-font-classes($body-font-family, $body-font-size, $body-line-height, "body");

