@use "sass:map";

$FONT_SIZE_DISPLAY_2XL: 72px;
$FONT_SIZE_DISPLAY_XL: 60px;
$FONT_SIZE_DISPLAY_LG: 48px;
$FONT_SIZE_DISPLAY_MD: 36px;
$FONT_SIZE_DISPLAY_SM: 30px;
$FONT_SIZE_DISPLAY_XS: 24px;

$FONT_SIZE_BODY_XL: 20px;
$FONT_SIZE_BODY_LG: 18px;
$FONT_SIZE_BODY_MD: 16px;
$FONT_SIZE_BODY_SM: 14px;
$FONT_SIZE_BODY_XS: 12px;

$FONT_WEIGHT_REGULAR: 400;
$FONT_WEIGHT_MEDIUM: 500;
$FONT_WEIGHT_SEMIBOLD: 600;
$FONT_WEIGHT_BOLD: 700;

$font-weights: (
	"light": 300,
	"regular": 400,
	"medium": 500,
	"semibold": 600,
	"bold": 700
);
$body-font-size: (
	"xl": 20px,
	"lg": 18px,
	"md": 16px,
	"sm": 14px,
	"xs": 12px
);
$display-font-size: (
	"2xl": 72px,
	"xl": 60px,
	"lg": 48px,
	"md": 36px,
	"sm": 30px,
	"xs": 24px
);
$display-line-height: (
	"2xl": 96px,
	"xl": 72px,
	"lg": 60px,
	"md": 48px,
	"sm": 40px,
	"xs": 32px
);
$body-line-height: (
	"2xl": 32px,
	"xl": 32px,
	"lg": 32px,
	"md": 24px,
	"sm": 24px,
	"xs": 16px
);

$display-font-family: 'Playfair Display';
$body-font-family: 'Outfit';

@mixin generate-font-classes($font-family, $font-sizes, $line-height, $prefix) {
	@each $font_size, $value in $font-sizes {
		@each $font_weight, $value_weight in $font-weights {
			.#{$prefix}_#{$font_size}_#{$font_weight} {
				font-family: $font-family;
				font-size: $value;
				font-weight: $value_weight;
				line-height: map-get($line-height, $font_size);
				font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;

				@if $prefix =='display' {
					@if $font_size =='2xl' {
						letter-spacing: -0.025em;
					}

					@if $font_size =='xl' {
						letter-spacing: -0.025em;
					}
				}
			}
		}
	}
}

@include generate-font-classes($display-font-family, $display-font-size, $display-line-height, "display");
@include generate-font-classes($body-font-family, $body-font-size, $body-line-height, "body");

.desktop_container {
	max-width: 1216px;
	box-sizing: border-box;
	@media (max-width: 1280px) {
		padding: 0 32px;
		max-width: 1280PX;
	}
	@media (max-width: 1280px) {
		padding: 0 40px;
		max-width: 1280PX;
	}
	
	@media (max-width: 760px) {
		padding: 0 20px;
	}
}





.display_2xl_light {
	font-family: "Playfair Display";
	font-size: 72px;
	font-weight: 300;
	line-height: 96px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
	letter-spacing: -0.025em;
}

.display_2xl_regular {
	font-family: "Playfair Display";
	font-size: 72px;
	font-weight: 400;
	line-height: 96px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
	letter-spacing: -0.025em;
}

.display_2xl_medium {
	font-family: "Playfair Display";
	font-size: 72px;
	font-weight: 500;
	line-height: 96px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
	letter-spacing: -0.025em;
}

.display_2xl_semibold {
	font-family: "Playfair Display";
	font-size: 72px;
	font-weight: 600;
	line-height: 96px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
	letter-spacing: -0.025em;
}

.display_2xl_bold {
	font-family: "Playfair Display";
	font-size: 72px;
	font-weight: 700;
	line-height: 96px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
	letter-spacing: -0.025em;
}

.display_xl_light {
	font-family: "Playfair Display";
	font-size: 60px;
	font-weight: 300;
	line-height: 72px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
	letter-spacing: -0.025em;
}

.display_xl_regular {
	font-family: "Playfair Display";
	font-size: 60px;
	font-weight: 400;
	line-height: 72px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
	letter-spacing: -0.025em;
}

.display_xl_medium {
	font-family: "Playfair Display";
	font-size: 60px;
	font-weight: 500;
	line-height: 72px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
	letter-spacing: -0.025em;
}

.display_xl_semibold {
	font-family: "Playfair Display";
	font-size: 60px;
	font-weight: 600;
	line-height: 72px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
	letter-spacing: -0.025em;
}

.display_xl_bold {
	font-family: "Playfair Display";
	font-size: 60px;
	font-weight: 700;
	line-height: 72px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
	letter-spacing: -0.025em;
}

.display_lg_light {
	font-family: "Playfair Display";
	font-size: 48px;
	font-weight: 300;
	line-height: 60px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.display_lg_regular {
	font-family: "Playfair Display";
	font-size: 48px;
	font-weight: 400;
	line-height: 60px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.display_lg_medium {
	font-family: "Playfair Display";
	font-size: 48px;
	font-weight: 500;
	line-height: 60px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.display_lg_semibold {
	font-family: "Playfair Display";
	font-size: 48px;
	font-weight: 600;
	line-height: 60px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.display_lg_bold {
	font-family: "Playfair Display";
	font-size: 48px;
	font-weight: 700;
	line-height: 60px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.display_md_light {
	font-family: "Playfair Display";
	font-size: 36px;
	font-weight: 300;
	line-height: 48px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.display_md_regular {
	font-family: "Playfair Display";
	font-size: 36px;
	font-weight: 400;
	line-height: 48px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.display_md_medium {
	font-family: "Playfair Display";
	font-size: 36px;
	font-weight: 500;
	line-height: 48px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.display_md_semibold {
	font-family: "Playfair Display";
	font-size: 36px;
	font-weight: 600;
	line-height: 48px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.display_md_bold {
	font-family: "Playfair Display";
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.display_sm_light {
	font-family: "Playfair Display";
	font-size: 30px;
	font-weight: 300;
	line-height: 40px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.display_sm_regular {
	font-family: "Playfair Display";
	font-size: 30px;
	font-weight: 400;
	line-height: 40px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.display_sm_medium {
	font-family: "Playfair Display";
	font-size: 30px;
	font-weight: 500;
	line-height: 40px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.display_sm_semibold {
	font-family: "Playfair Display";
	font-size: 30px;
	font-weight: 600;
	line-height: 40px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.display_sm_bold {
	font-family: "Playfair Display";
	font-size: 30px;
	font-weight: 700;
	line-height: 40px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.display_xs_light {
	font-family: "Playfair Display";
	font-size: 24px;
	font-weight: 300;
	line-height: 32px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.display_xs_regular {
	font-family: "Playfair Display";
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.display_xs_medium {
	font-family: "Playfair Display";
	font-size: 24px;
	font-weight: 500;
	line-height: 32px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.display_xs_semibold {
	font-family: "Playfair Display";
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.display_xs_bold {
	font-family: "Playfair Display";
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.body_xl_light {
	font-family: "Outfit";
	font-size: 20px;
	font-weight: 300;
	line-height: 32px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.body_xl_regular {
	font-family: "Outfit";
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.body_xl_medium {
	font-family: "Outfit";
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.body_xl_semibold {
	font-family: "Outfit";
	font-size: 20px;
	font-weight: 600;
	line-height: 32px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.body_xl_bold {
	font-family: "Outfit";
	font-size: 20px;
	font-weight: 700;
	line-height: 32px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.body_lg_light {
	font-family: "Outfit";
	font-size: 18px;
	font-weight: 300;
	line-height: 32px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.body_lg_regular {
	font-family: "Outfit";
	font-size: 18px;
	font-weight: 400;
	line-height: 32px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.body_lg_medium {
	font-family: "Outfit";
	font-size: 18px;
	font-weight: 500;
	line-height: 32px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.body_lg_semibold {
	font-family: "Outfit";
	font-size: 18px;
	font-weight: 600;
	line-height: 32px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.body_lg_bold {
	font-family: "Outfit";
	font-size: 18px;
	font-weight: 700;
	line-height: 32px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.body_md_light {
	font-family: "Outfit";
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.body_md_regular {
	font-family: "Outfit";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.body_md_medium {
	font-family: "Outfit";
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.body_md_semibold {
	font-family: "Outfit";
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.body_md_bold {
	font-family: "Outfit";
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.body_sm_light {
	font-family: "Outfit";
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.body_sm_regular {
	font-family: "Outfit";
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.body_sm_medium {
	font-family: "Outfit";
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.body_sm_semibold {
	font-family: "Outfit";
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.body_sm_bold {
	font-family: "Outfit";
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.body_xs_light {
	font-family: "Outfit";
	font-size: 12px;
	font-weight: 300;
	line-height: 16px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.body_xs_regular {
	font-family: "Outfit";
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.body_xs_medium {
	font-family: "Outfit";
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.body_xs_semibold {
	font-family: "Outfit";
	font-size: 12px;
	font-weight: 600;
	line-height: 16px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.body_xs_bold {
	font-family: "Outfit";
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}