$neutral_900: #2C2C2C;
$neutral_700: #444444;
$neutral_500: #7C7C7C;
$neutral_300: #D9D9D6;
$neutral_100: #E5E5E5;

$primary_600: #996830;
$primary_300: #C4A386;
$primary_100: #E6D8CC;

$white: #FFFFFF;
$black: #000000;